.mario * {
  position: absolute;
}

.mario {
  position: relative;
  width: 600px;
  height: 800px;
  border: 1px solid red;
  margin: auto;
}

.mario .pixel {
  width: 30px;
  height: 30px;
}

.mario .hat-border-pixel-01 {
  background-color: #500000;
  top: 270px;
  left: 0px;
}