.mario * {
  position: absolute;
}

.mario {
  position: relative;
  width: 600px;
  height: 800px;
  border: 1px solid red;
  margin: auto;
}

.mario .pixel {
  width: 30px;
  height: 30px;
}

.mario .hat-border-pixel-01 {
  top: 270px;
  left: 0px;
}

.mario .hat-border-pixel-02 {
  top: 240px;
}

.mario .hat-border-pixel-03 {
  top: 210px;
}

.mario .hat-border-pixel-04 {
  top: 180px;
  left: 30px;
}

.mario .hat-border-pixel-05 {
  top: 150px;
  left: 30px;
}

.mario .hat-border-pixel-06 {
  top: 120px;
  left: 60px;
}

.mario .hat-border-pixel-07 {
  top: 90px;
  left: 90px;
}

.mario .hat-border-pixel-08 {
  top: 60px;
  left: 120px;
}

.mario .hat-border-pixel-09 {
  top: 60px;
  left: 150px;
}

.mario .hat-border-pixel-10 {
  top: 30px;
  left: 180px;
}

.mario .hat-border-pixel-11 {
  top: 30px;
  left: 210px;
}

.mario .hat-border-pixel-12 {
  top: 30px;
  left: 240px;
}

.mario .hat-border-pixel-13 {
  top: 30px;
  left: 270px;
}

.mario .hat-border-pixel-14 {
  top: 30px;
  left: 300px;
}

.mario .hat-border-pixel-15 {
  top: 60px;
  left: 330px;
}

.mario .hat-border-pixel-16 {
  top: 90px;
  left: 330px;
}

/* ----Top---- */
.top-120 {
  top: 120px;
}

.top-150 {
  top: 150px;
}

/* ----Left---- */

.left-150 {
  left: 150px;
}

.left-180 {
  left: 180px;
}

.left-210 {
  left: 210px;
}

.left-240 {
  left: 240px;
}

.left-270 {
  left: 270px;
}

.left-300 {
  left: 300px;
}

.left-330 {
  left: 330px;
}

.left-360 {
  left: 360px;
}

.left-390 {
  left: 390px;
}